.note {
    margin: 4px;
    background-color: #fff;
    border-radius: 5px;
    padding: 4px;
    color: #000;
    cursor: pointer;
}

.note-name {

}

.note-name h3 {
    margin: 0 0 0 0;
}

.note-modified {

}

.note-delete {
    
}